.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  display: block;
  object-fit: cover;
  border-radius: 8px;
  height: 190px;
  width: 190px;
  z-index: 0;
}

.profile__avatar-container {
  position: relative;
  width: fit-content;
  margin-right: 20px;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
  visibility: hidden;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: rgb(18, 18, 18, 0.6);
  color: #fff;
  z-index: 1;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: auto;
  border: none;
  background-color: transparent;
  width: 107.34px;
  height: 16px;
  gap: 8px;
  font-weight: 500;
  line-height: 1;
  opacity: 70%;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__add-button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: auto;
  margin-left: auto;
  width: 149px;
  height: 52px;
  padding: 18px 32px;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  line-height: 1;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 560px) {
  .profile {
    max-width: 288px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
  }

  .profile__column {
    margin-top: 12px;
  }

  .profile__name {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1;
  }

  .profile__description {
    margin: 6px 0;
  }

  .profile__avatar {
    margin: 0;
    padding: 0;
    height: 80px;
    width: 80px;
  }

  .profile__avatar-btn {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 6px;
    box-sizing: border-box;
    width: 23.34px;
    height: 23.34px;
    bottom: 4.66px;
    right: 4.66px;
    visibility: visible;
  }

  .profile__pencil-icon {
    position: absolute;
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__edit-button {
    margin: 32px auto 0;
  }

  .profile__add-button {
    margin: 20px 0 0;
    padding: 0;
    width: 100%;
    justify-content: center;
  }
}
